.navbar {
    background-color: #9E3611;
    height:10vh;
    width: 100%;
    display: flex;
    color: #F8F8F8;
    align-items: center;
}

.logo {
    position:relative;
    display: flex;
    background-size: contain;
    margin: 0 1.5em;    
    text-decoration: none;
    color: #F8F8F8;
}

.logoImg{
    width: 7%;
}