.canteen-status-table-wrappper {
    margin: auto;
    font-size: 1.2rem;
}

.canteen-status-table {
    display: flex;
    text-align: center;
    margin: 1em 2em;
}

.canteen-section-header{
    font-weight: bold;
}

.canteen-status-header {
    font-weight: bold;
}