
.set-occupancy-container {
    font-weight: bold;
    text-align: center;
    font-size: 1.25rem;
}

.set-occupancy-button {
    border: none;
    background-color: white;
    margin-left: 5px;
}

.set-occupancy-button:hover {
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.247);
}

.instruction{
    text-align: center;
    font-weight:bold;
    padding-bottom: 30px;
    font-size: 1.25rem;
}

.occupancy-counter{
    text-decoration: underline;
    font-weight:lighter;
}