.footer-container {
    background-color: #9E3611;
    display: flex;
    flex-direction: column;
    white-space: pre-line;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1em 0;
    color:  #F8F8F8;
}

.footer-logo-wrapper {
    font-weight: 400;
}

.footer-logo {
    padding: 0em 2em;
}
