@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.page-container {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.content-wrapper {
    flex: 1;
    padding-bottom: 3rem;
    min-height: 100vh;
}

.main-wrapper {
    margin-top: 0.5em;
}

